@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    cursor:default;
}

body {
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F76767;
}

#gameBoard {
    height: 90%;
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.icon {
    width: 80%;
    height: 80%;
}

button {
    cursor: pointer;
}

.card {
    width: 125px;
    max-height: 125px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_front, .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.brain {
    width: 70px;
}

.card_front {
    transform: rotateY(180deg);
    background-color: #080e15;
}

.card_back {
    text-align: center;
    font-size: 4rem;
    background-color: #EFB0B0;
    transform: rotateY(0);
}

#game-over, #game-start {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
}

#game-start {
    text-align: center;
    line-height: 100vh;
}

#game-over {
    display: none;
        
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#restart, #start {
    padding: 20px;
    font-size: 20px;
    background-color: #e0a9a9;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#timer {
    position: absolute;
    top: 2.5%;
    right: 0;
    background-color: #080e15;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 20px 0 0;
}

#counter, .result{
    color: #E4BCBC  ;
}

#resultsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#divResults {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #080e15;
    padding: 20px;
    border-radius: 20px;
    margin: 0 0 20px 20px;
}

@media screen and (max-width: 1030px) {

    body {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #gameBoard {
        height: 70%;
        max-width: 580px;
    }

    .brain {
        width: 40px;
    }

    .card {
        width: 100px;
        height: 100px;
    }

    .card_back {
        font-size: 1.5rem;
    }

    #game-over {
        text-align: center;
        font-size: 2rem;
    }

    #timer {
        position: relative;
        align-self: flex-end;
        margin: 0 20px 0 0;
    }

    #counter,
    .result {
        font-size: 0.8rem;
    }

    #resultsContainer {
        position: relative;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-between;
    }
}

@media screen and (max-width: 580px) {
    #gameBoard {
        height: 50%;
        max-width: 350px;
    }

    .card {
        height: 71px;
        width: 71px;
    }
}

@media screen and (max-height: 670px) {
    body {
        justify-content: space-between;
        align-items: center;
    }

    #gameBoard {
        height: 65%;
    }

    .card {
        width: 68px;
        height: 68px;
    }
}

@media screen and (max-height: 670px) and (min-width: 1030px) {
    body {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #gameBoard {
        height: 65%;
        max-width: 580px;
    }

    .card {
        width: 68px;
        height: 68px;
    }

    .card_back {
        font-size: 1.5rem;
    }

    #timer {
        position: relative;
        align-self: flex-end;
        margin: 0 20px 0 0;
    }

    #counter,
    .result {
        font-size: 0.8rem;
    }

    #resultsContainer {
        position: relative;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-between;
    }
}